name: CSU Library Leave

on:
  workflow_dispatch:

  schedule:
    - cron: '00 13 * * *'

jobs:
  leave:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Python
      run: |
        sudo apt update && \
        sudo apt install python3
      
    - name: requirements
      run: |
        pip3 install -r requirements.txt
        
    - name: Leave
      run: |
        user='${{ secrets.USER }}'
        pwd='${{ secrets.PWD }}'
        python3 helper.py --action 'leave' --userid $user --password $pwd
    - name: Commit
      run: |
        git config --global user.email 1529835657@qq.com
        git config --global user.name 1529835657
        git add .
        git commit -m "Update library.log" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
